body {
    font-family: "Roboto", sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    background-color: #1F2937;
    color: #F9FaF8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    padding: 20px 200px 0px 200px;
}
.links {
    display: flex;
    gap: 25px;
}
a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.introduction {
    background-color: #1F2937;
    padding: 100px 200px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button1 {
    background-color: #3882F6;
    border: 0;
    border-radius: 8px;
    color: #F9FaF8;
    font-size: 16px;
    padding: 8px 35px;
    font-weight: 900; 
}
.image {
    background-color: #767e81;
    min-width: 500px;
    min-height: 200px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8;
}
.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}
.showcase {
    color: #1F2937;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.information-header {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}
.information-container {
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
}
.information {
    max-width: 200px;
}
.text {
    margin: 5px 15px;
}
.image2 {
    border-radius: 15px;
    border: #3882F6;
    border-width: 5px;
    border-style: solid;
    margin: 0px 20px;
    height: 150px;  
}
.quote-container {
    color: #1F2937;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 100px 325px;
    font-weight: 900;
    font-size: 20px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}
.sign-up {
    display: flex;
    padding: 75px;
    justify-content: center;
}
.blue-box {
    background-color: #3882F6;
    padding: 50px 120px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 150px;
}
.box-words {
    color: #F9FaF8;
}
.box-text1 {
    font-size: 20px;
    font-weight: 900;
}
.button2 {
    background-color: #3882F6;
    border-width: 2px;
    border-color:#F9FaF8;
    color: #F9FaF8;
    border-radius: 8px;
    border-style: solid;
    padding: 8px 35px;
    font-weight: 900;
    font-size: 16px;
}
img {
    color: #F9FaF8;
}
.footer {
    background-color: #1F2937;
    color: #F9FaF8;
    text-align: center;
    padding: 40px;
}